<h1>Showing article details</h1>

<p><strong>Title: </strong><%= @article.title %></p>
# <% %> simply evaluates ruby code but <%= %> evaluates and displays ruby code
<p><strong>Description: </strong><%= @article.description %></p>

